:root {
    /* default font size in browsers is 16px = 1em
    10/16 = 0.625 = 1rem */
    font-size: 0.625em;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    margin: auto;
    max-width: 60rem;
    color: #d8edea;
    background: radial-gradient(
        circle,
        rgb(178, 174, 196) 0%,
        rgb(122, 104, 204) 89%,
        rgb(104, 94, 191) 100%
        );
}

header {
    text-align: center;
    margin-top: 3rem;
}

div {
    height: 2rem;
    width: 2rem;
}

.t-ucase {
    text-transform: uppercase;
}

.t-big {
    font-size: 1.5em;
}

.t-wide {
    letter-spacing: 1.5rem;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.game-area {
    display: flex;
    justify-content: center;
}

.game {
    height: 0;
    width: 300px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 20rem;
    height: 40rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;    
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 17.5rem;
    height: 26rem;
    background: #f0f0f0;
    background-image: linear-gradient(#d0d0d0, #f0f0f0);
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
    color: #85796b;
}

.highscore {
  font-size: 1.2rem;
}

.score,
.lines-display {
  font-size: 1.2rem;
}

.score-display {
    font-size: 5rem;
    color: rgb(133, 121, 107, 0.5);
}

.preview-shape {
    width: 10rem;
    height: 10rem;
    padding-left: 2rem;
    margin-top: 1rem;
}

.preview-grid {
    display: flex;
    flex-wrap: wrap;
    width: 8rem;
    height: 8rem;
}

.button {
    position: relative;
    width: 12rem;
    height: 2.6rem;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    line-height: 23px;
    font-size: 10px;
    display: block;
    margin: 30px;
    text-shadow: -1px -1px 0 #a84155;
    background: #d25068;
    border: 1px solid #d25068;
    background-image: linear-gradient(to bottom, #f66c7b, #d25068);
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset,
    0 -1px 0 rgba(255, 255, 255, 0.1) inset, 0 4px 0 #ad4257,
    0 4px 2px rgba(0, 0, 0, 0.5);
}

.button:active {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    top: 5px;
}

.button:hover {
    background: #f66c7b;
    background-image: linear-gradient(top, #d25068, #f66c7b);
}

.block {
    background-image: url(./images/blue_block.png);
}

.block2 {
    background-image: url(./images/purple_block.png);
}

.block3 {
    background-image: url(./images/green_block.png);
}

.footer {
    text-align: center;
    margin-left: 1rem;
}